<div class="bg-cover">
  <div class="container container-md py-4">
    <div class="text-center mb-3 mt-3 pb-3">
      <div class="h1 text-bold">Dashboard</div>
      <p>Task Manager Application</p>
    </div>
  </div>
</div>

<section>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">
        <div class="row justify-content-center">
          <div class="col-12 col-md-6 col-lg-5 mb-3">
            <div class="card b">
              <div class="card-body text-center">
                <a class="link-unstyled text-warning" [routerLink]="['/lead']">
                  <em class="fa-5x far fa-gem mb-3"></em><br>
                  <span class="h4">Lead</span><br><div class="text-sm text-muted">View all →</div>
                </a>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-6 col-lg-5 mb-3">
            <div class="card b">
              <div class="card-body text-center">
                <a class="link-unstyled text-info" href="javascript:void(0)">
                  <em class="fa-5x far fa-id-badge mb-3"></em><br>
                  <span class="h4">Contact</span><br><div class="text-sm text-muted">View all →</div>
                </a>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-6 col-lg-5 mb-3">
            <div class="card b">
              <div class="card-body text-center">
                <a class="link-unstyled text-purple" href="javascript:void(0)">
                  <em class="fa-5x fa fa-cubes mb-3"></em>
                  <br><span class="h4">Company</span>
                  <br>
                  <div class="text-sm text-muted">
                    View all →
                  </div>
                </a>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-6 col-lg-5 mb-3">
            <div class="card b">
              <div class="card-body text-center">
                <a class="link-unstyled text-success" href="javascript:void(0)">
                  <em class="fa-5x far far fa-handshake mb-3"></em><br>
                  <span class="h4">Deal</span><br>
                  <div class="text-sm text-muted">View all →</div>
                </a>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-6 col-lg-5 mb-3">
            <div class="card b">
              <div class="card-body text-center">
                <a class="link-unstyled text-success"  [routerLink]="['/scheduler']">
                  <em class="fa-5x far far fa-handshake mb-3"></em><br>
                  <span class="h4">Scheduler</span><br>
                  <div class="text-sm text-muted">View all →</div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
