
<div class="bg-cover">
  <div class="container container-md py-4">
    <div class="text-center mb-3 mt-3 pb-3">
      <div class="h1 text-bold">Dashboard</div>
      <p>Task Manager Application</p>
    </div>
  </div>
</div>

<section>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">
        <div class="row justify-content-center">
          <div class="col-12 col-md-6 col-lg-5 mb-3">
            <div class="card b">
              <div class="card-body text-center">
                <a class="link-unstyled text-warning" [routerLink]="['/lead']">
                  <em class="fa-5x far fa-gem mb-3"></em><br>
                  <span class="h4">Lead</span><br><div class="text-sm text-muted">View all →</div>
                </a>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-6 col-lg-5 mb-3">
            <div class="card b">
              <div class="card-body text-center">
                <a class="link-unstyled text-info" href="javascript:void(0)">
                  <em class="fa-5x far fa-id-badge mb-3"></em><br>
                  <span class="h4">Contact</span><br><div class="text-sm text-muted">View all →</div>
                </a>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-6 col-lg-5 mb-3">
            <div class="card b">
              <div class="card-body text-center">
                <a class="link-unstyled text-purple" href="javascript:void(0)">
                  <em class="fa-5x fa fa-cubes mb-3"></em>
                  <br><span class="h4">Company</span>
                  <br>
                  <div class="text-sm text-muted">
                    View all →
                  </div>
                </a>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-6 col-lg-5 mb-3">
            <div class="card b">
              <div class="card-body text-center">
                <a class="link-unstyled text-success" href="javascript:void(0)">
                  <em class="fa-5x far far fa-handshake mb-3"></em><br>
                  <span class="h4">Deal</span><br>
                  <div class="text-sm text-muted">View all →</div>
                </a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</section>


<!--<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Age</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let emp of empList">
      <td > <input type="text" class="form-control id" name="id" [(ngModel)]="emp._id" > </td>


      <td> <input type="text" class="form-control name" name="name" [(ngModel)]="emp.name"> </td>

      <td> <input type="text" class="form-control age" name="age" [(ngModel)]="emp.age"></td>
      <td>
        <button (click)="Update(emp)">Edit</button>
       <button (click)="Delete(emp._id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>

<div class="col-md-6 col-12">
  <div class="form-group">
    <label class="control-label required">Name<span class="error_mark text-danger"> *</span></label>
    <input type="text" class="form-control fullname" name="name" [(ngModel)]="emp.name">
  </div>
  <div class="form-group">
    <label class="required">Age</label>
    <input type="text" class="form-control email" name="email" [(ngModel)]="emp.age" />
  </div>

</div>

<button (click)="Add(emp)">Add Employee</button>-->
