<section class="lead-add-list">
  <div class="container">
    <div class="row py-1">
      <div class="col-lg-3">
        <div class="card b mb-2">
          <div class="card-header bb">
            <h4 class="card-title">Lead detail</h4>
          </div>
          <table class="table">
            <tbody>
              <tr>
                <td>Id</td>
                <td>
                  <div class="text-right text-bold">{{selectedLead.id}}</div>
                </td>
              </tr>
              <tr>
                <td>Name</td>
                <td>
                  <div class="text-right text-bold">{{selectedLead.name}}</div>
                </td>
              </tr>
              <tr>
                <td>Description</td>
                <td>
                  <div class="text-right text-bold">{{selectedLead.description}}</div>
                </td>
              </tr>
              <tr>
                <td>Date</td>
                <td>
                  <div class="text-right text-bold">{{selectedLead.date}}</div>
                </td>
              </tr>
            </tbody>
          </table>

          <div class="card-body">
            <p>
              <a class="btn btn-primary btn-block" [routerLink]="['/lead']">Back</a>
            </p>
          </div>
        </div>
      </div>
      
      <div class="col-lg-9">
        <div class="container-md">
          <div class="card b mb-2">
            <div class="card-body bt mb-3">
              <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="call-tab" data-toggle="tab" href="#call" role="tab" aria-controls="call" aria-selected="true">Call</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="comment-tab" data-toggle="tab" href="#comment" role="tab" aria-controls="comment" aria-selected="false">Comment</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="task-tab" data-toggle="tab" href="#task" role="tab" aria-controls="task" aria-selected="false">Task</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="meeting-tab" data-toggle="tab" href="#meeting" role="tab" aria-controls="meeting" aria-selected="false">Meeting</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="scheduler-tab" data-toggle="tab" href="#scheduler" role="tab" aria-controls="scheduler" aria-selected="false">Scheduler</a>
                </li>

              </ul>
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="call" role="tabpanel" aria-labelledby="call-tab">
                  <div class="row">



                    <div class="col-12">
                      <div class="form-group">
                        <input type="hidden" class="form-control" name="id" [(ngModel)]="call._id">
                        <textarea class="form-control" rows="4" placeholder="Description" [(ngModel)]="call.Description"></textarea>
                      </div>
                    </div>

                    <div class="col-12 col-sm-6">
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="CallId" [(ngModel)]="call.CallId" />
                      </div>
                    </div>
                    <div class="col-12 col-sm-6">
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="Call Subject" [(ngModel)]="call.CallSubject" />
                      </div>
                    </div>
                    <div class="col-12 col-sm-6">
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="Responsible Person" [(ngModel)]="call.ResponsiblePerson" />
                      </div>
                    </div>
                    <div class="col-12 col-sm-6">
                      <div class="form-group">
                        <select [(ngModel)]="call.Priority" class="form-control Priority" required [value]="call.Priority">
                          <option [value]="-1" selected="selected">--Select Priority--</option>
                          <option [value]="c.value" *ngFor="let c of priorities">{{c.name}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-12 col-sm-6">
                      <div class="form-group">
                        <select [(ngModel)]="call.Type" class="form-control Type" required [value]="call.Type">
                          <option [value]="-1" selected="selected">--Select Type--</option>
                          <option [value]="c.value" *ngFor="let c of types">{{c.name}}</option>
                        </select>
                      </div>
                    </div>

                    <!--<div class="col-12 col-sm-6">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="CreatedBy" [(ngModel)]="call.CreatedBy" />
        </div>
      </div>
      <div class="col-12 col-sm-6">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="UpdatedBy" [(ngModel)]="call.UpdatedBy" />
        </div>
      </div>-->
                    <!--<div class="col-12 col-sm-6">
        <div class="form-group">
          <input type="text"
                 placeholder="Created Date"
                 class="form-control"
                 [(ngModel)]="call.CreatedDate"
                 bsDatepicker>

        </div>
      </div>
      <div class="col-12 col-sm-6">
        <div class="form-group">
          <input type="text"
                 placeholder="Updated Date"
                 class="form-control"
                 [(ngModel)]="call.UpdatedDate"
                 bsDatepicker>

        </div>
      </div>-->

                    <div class="col-12 col-sm-6">
                      <div class="form-group">
                        <input type="text"
                               placeholder="Event Start Date"
                               class="form-control"
                               [(ngModel)]="call.EventStartDate"
                               bsDatepicker>

                      </div>
                    </div>
                    <div class="col-12 col-sm-6">
                      <div class="form-group">
                        <input type="text"
                               placeholder="Event End Date"
                               class="form-control"
                               [(ngModel)]="call.EventEndDate"
                               bsDatepicker>

                      </div>
                    </div>



                    <div class="col-12 col-sm-6">
                      <div class="form-group">
                        <select [(ngModel)]="call.RepeatTask" class="form-control Type" required [value]="call.RepeatTask">
                          <option [value]="-1" selected="selected">--Select Repeat Task--</option>
                          <option [value]="c.value" *ngFor="let c of repeattaskoptions">{{c.name}}</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-12 col-sm-6">
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="Reminder Notification" [(ngModel)]="call.ReminderNotification" />
                      </div>
                    </div>

                    <div class="col-12 col-sm-6">
                      <div class="form-group">
                        <select [(ngModel)]="call.Completed" class="form-control Type" required [value]="call.Completed">
                          <option [value]="-1" selected="selected">--Completed--</option>
                          <option [value]="c.value" *ngFor="let c of completes">{{c.name}}</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-12 col-sm-6">
                      <div class="form-group">
                        <button (click)="AddCall(call)" class="btn btn-sm btn-primary btn-block">Update</button>
                      </div>
                    </div>

                    <div class="col-12 col-sm-12" *ngIf="callVM?.createdDate">
                      <div class="form-group">
                        Created On : {{callVM?.createdDate | date : 'MMM d, y, h:mm:ss a'}}
                      </div>
                    </div>


                  </div>
                </div>

                <div class="tab-pane fade" id="comment" role="tabpanel" aria-labelledby="comment-tab">
                  <div class="row">
                    <div class="col-12">
                      <div class="form-group">
                        <textarea class="form-control" rows="4" placeholder="Comment"></textarea>
                      </div>
                    </div>
                    <div class="col-12 col-sm-6">
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="Text" />
                      </div>
                    </div>
                    <div class="col-12 col-sm-6">
                      <div class="form-group">
                        <input type="email" class="form-control" placeholder="Email" />
                      </div>
                    </div>
                    <div class="col-12 col-sm-6">
                      <div class="form-group">
                        <input type="password" class="form-control" placeholder="Password" />
                      </div>
                    </div>
                    <div class="col-12 col-sm-6">
                      <div class="form-group">
                        <select class="form-control">
                          <option>Select Box</option>
                        </select>
                      </div>
                    </div>

                  </div>
                </div>

                <div class="tab-pane fade" id="task" role="tabpanel" aria-labelledby="task-tab">
                  <div class="row">
                    <div class="col-12">
                      <div class="form-group">
                        <textarea class="form-control" rows="4" placeholder="Task"></textarea>
                      </div>
                    </div>
                    <div class="col-12 col-sm-6">
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="Text" />
                      </div>
                    </div>
                    <div class="col-12 col-sm-6">
                      <div class="form-group">
                        <input type="email" class="form-control" placeholder="Email" />
                      </div>
                    </div>
                    <div class="col-12 col-sm-6">
                      <div class="form-group">
                        <input type="password" class="form-control" placeholder="Password" />
                      </div>
                    </div>
                    <div class="col-12 col-sm-6">
                      <div class="form-group">
                        <select class="form-control">
                          <option>Select Box</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form-group">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                          <label class="form-check-label" for="defaultCheck1">
                            Default checkbox
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="tab-pane fade" id="meeting" role="tabpanel" aria-labelledby="meeting-tab">
                  <div class="row">
                    <div class="col-12">
                      <div class="form-group">
                        <textarea class="form-control" rows="4" placeholder="Meeting"></textarea>
                      </div>
                    </div>
                    <div class="col-12 col-sm-6">
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="Text" />
                      </div>
                    </div>
                    <div class="col-12 col-sm-6">
                      <div class="form-group">
                        <input type="email" class="form-control" placeholder="Email" />
                      </div>
                    </div>
                    <div class="col-12 col-sm-6">
                      <div class="form-group">
                        <input type="password" class="form-control" placeholder="Password" />
                      </div>
                    </div>
                    <div class="col-12 col-sm-6">
                      <div class="form-group">
                        <select class="form-control">
                          <option>Select Box</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form-group">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                          <label class="form-check-label" for="defaultCheck1">
                            Default checkbox
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="tab-pane fade" id="scheduler" role="tabpanel" aria-labelledby="scheduler-tab">
                <div class="row">
                    <div class="col-12">
                      <div class="form-group">

                        <ejs-schedule width='100%' height='500px'
                                      [selectedDate]="selectedDate"
                                      [eventSettings]="eventSettings"
                                      [currentView]="currentView">
                        </ejs-schedule>


                        <!--<ejs-schedule></ejs-schedule>-->

                      </div>
                    </div>
                   
                    
                   

                 

                  </div>
                </div>

              </div>
            </div>

            <div class="report-list-table">
          <div class="row">
            <div class="col-12 text-center">
              <div class="report-date"><span>14 march</span></div>
            </div>
          </div>
        </div>
            <div class="row m-0">
              <div class="col-12">
                <ul _ngcontent-c8="" class="timeline">
                  <li _ngcontent-c8="" class="timeline-separator" data-datetime="Now"></li>
                  <li _ngcontent-c8="">
                    <div _ngcontent-c8="" class="timeline-badge primary"><em _ngcontent-c8="" class="fa fa-users"></em></div>
                    <div _ngcontent-c8="" class="timeline-card">
                      <div _ngcontent-c8="" class="popover left">
                        <h4 _ngcontent-c8="" class="popover-header">Client Meeting</h4>
                        <div _ngcontent-c8="" class="arrow"></div>
                        <div _ngcontent-c8="" class="popover-body">
                          <p _ngcontent-c8="">
                            Av 123 St - Floor 2
                            <br _ngcontent-c8=""><small _ngcontent-c8="">Pellentesque ut diam velit, eget porttitor risus. Nullam posuere euismod volutpat.</small>
                          </p>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li _ngcontent-c8="" class="timeline-inverted">
                    <div _ngcontent-c8="" class="timeline-badge warning"><em _ngcontent-c8="" class="fa fa-phone"></em></div>
                    <div _ngcontent-c8="" class="timeline-card">
                      <div _ngcontent-c8="" class="popover right">
                        <h4 _ngcontent-c8="" class="popover-header">Call</h4>
                        <div _ngcontent-c8="" class="arrow"></div>
                        <div _ngcontent-c8="" class="popover-body">
                          <p _ngcontent-c8="">
                            Michael <a _ngcontent-c8="" href="tel:+011654524578">(+011) 6545 24578 ext. 132</a>
                            <br _ngcontent-c8=""><small _ngcontent-c8="">Pellentesque ut diam velit, eget porttitor risus. Nullam posuere euismod volutpat.</small>
                          </p>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li _ngcontent-c8="" class="timeline-separator" data-datetime="Yesterday"></li>
                  <li _ngcontent-c8="">
                    <div _ngcontent-c8="" class="timeline-badge danger"><em _ngcontent-c8="" class="fas fa-video"></em></div>
                    <div _ngcontent-c8="" class="timeline-card">
                      <div _ngcontent-c8="" class="popover left">
                        <h4 _ngcontent-c8="" class="popover-header">Conference</h4>
                        <div _ngcontent-c8="" class="arrow"></div>
                        <div _ngcontent-c8="" class="popover-body">
                          <p _ngcontent-c8="">Join development group</p><small _ngcontent-c8=""><a _ngcontent-c8="" href="skype:echo123?call"><em _ngcontent-c8="" class="fa fa-phone mr-2"></em>Call the Skype Echo</a></small>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li _ngcontent-c8="" class="timeline-inverted">
                    <div _ngcontent-c8="" class="timeline-card">
                      <div _ngcontent-c8="" class="popover right">
                        <h4 _ngcontent-c8="" class="popover-header">Appointment</h4>
                        <div _ngcontent-c8="" class="arrow"></div>
                        <div _ngcontent-c8="" class="popover-body">
                          <p _ngcontent-c8="">Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam.</p>
                          <div _ngcontent-c8="" class="btn-group" dropdown="">
                            <a _ngcontent-c8="" class="dropdown-toggle" dropdowntoggle="" href="#" aria-haspopup="true"><em _ngcontent-c8="" class="fa fa-paperclip"></em></a>
                            <!---->
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li _ngcontent-c8="">
                    <div _ngcontent-c8="" class="timeline-badge info"><em _ngcontent-c8="" class="fa fa-plane"></em></div>
                    <div _ngcontent-c8="" class="timeline-card">
                      <div _ngcontent-c8="" class="popover left">
                        <h4 _ngcontent-c8="" class="popover-header">Fly</h4>
                        <div _ngcontent-c8="" class="arrow"></div>
                        <div _ngcontent-c8="" class="popover-body">
                          <p _ngcontent-c8="">Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li _ngcontent-c8="">
                    <div _ngcontent-c8="" class="timeline-card">
                      <div _ngcontent-c8="" class="popover left">
                        <h4 _ngcontent-c8="" class="popover-header">Appointment</h4>
                        <div _ngcontent-c8="" class="arrow"></div>
                        <div _ngcontent-c8="" class="popover-body">
                          <p _ngcontent-c8="">Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li _ngcontent-c8="" class="timeline-separator" data-datetime="2014-05-21"></li>
                  <li _ngcontent-c8="" class="timeline-inverted">
                    <div _ngcontent-c8="" class="timeline-badge success"><em _ngcontent-c8="" class="fa fa-music"></em></div>
                    <div _ngcontent-c8="" class="timeline-card">
                      <div _ngcontent-c8="" class="popover right">
                        <h4 _ngcontent-c8="" class="popover-header">Relax</h4>
                        <div _ngcontent-c8="" class="arrow"></div>
                        <div _ngcontent-c8="" class="popover-body">
                          <p _ngcontent-c8="">Listen some music</p>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li _ngcontent-c8="" class="timeline-end"><a _ngcontent-c8="" class="timeline-badge" href="#"><em _ngcontent-c8="" class="fa fa-plus"></em></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
