<div class="container">
  <div class="row py-1">
    <div class="col-lg-3">
      <div class="card b mb-2">
        <div class="card-header bb">
          <h4 class="card-title">Lead detail</h4>
        </div>
        <div class="card-body bt">
          <h4 class="b0">Name: </h4>
        </div>
        <table class="table">
          <tbody>
            <tr>
              <td>Subtotal</td>
              <td>
                <div class="text-right text-bold">$400</div>
              </td>
            </tr>
            <tr>
              <td>Estimated Tax</td>
              <td>
                <div class="text-right text-bold">$1.44</div>
              </td>
            </tr>
            <tr>
              <td>Shiping</td>
              <td>
                <div class="text-right text-bold">$5</div>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="card-body">
          <div class="clearfix">
            <div class="float-right text-right">
              <div class="text-bold">$406.44</div>
            </div>
            <div class="float-left text-bold text-dark">ORDER TOTAL</div>
          </div>
        </div>
        <div class="card-body">
          <p>
            <a class="btn btn-primary btn-block" [routerLink]="['/lead']">Back</a>
          </p>
        </div>
      </div>
    </div>

    <div class="col-lg-9">
      <div class="container-md">
        <div class="card b mb-2">
          <div class="card-header bb">
            <h4 class="card-title">Actions - tabs</h4>
          </div>
          <div class="card-body bt">
            <h4 class="b0">Call | Comment | Task | Meeting</h4>
          </div>
          <table class="table">
            <tbody>
              <tr>
                <td>Description</td>
                <td>
                  <div class="text-right text-bold">test test test description</div>
                </td>
              </tr>
              <tr>
                <td>responsible person</td>
                <td>
                  <div class="text-right text-bold">test</div>
                </td>
              </tr>
              <tr>
                <td>responsible person</td>
                <td>
                  <div class="text-right text-bold">test</div>
                </td>
              </tr>
              <tr>
                <td>Shiping</td>
                <td>
                  <div class="text-right text-bold">$5</div>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="card-body">
            <p>
              <button class="btn btn-primary btn-block" type="button">UPDATE</button>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
