<section class="lead-add-list">
  <div class="container">
    <div class="row py-1">
      <div class="col-lg-3">
        <div class="card b mb-2">
          <div class="card-header bb">
            <h4 class="card-title">Lead detail</h4>
          </div>
          <table class="table">
            <tbody>
              <tr>
                <td>
                  <div class="text-right text-bold">
                    <input type="hidden" class="form-control" name="id" [(ngModel)]="selectedLead._id">
                    <input class="e-input" type="text" [(ngModel)]="selectedLead.name" />
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="text-right text-bold">
                    <input class="e-input" type="text" [(ngModel)]="selectedLead.description" />
                  </div>
                </td>
              </tr>
              <tr>
                
                <td>
                  <div class="text-right text-bold">
                    <input class="e-input" type="text" [(ngModel)]="selectedLead.date" />
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="card-body">
              <a class="btn btn-primary btn-block" (click)="updateLead(selectedLead._id)">Update</a>
              <a class="btn btn-primary btn-block" [routerLink]="['/lead']">Back</a>
          </div>
        </div>
      </div>
      
      <div class="col-lg-9">
        <div class="container-md">
          <div class="card b mb-2">
            <div class="card-body bt mb-3">
              <ul class="nav nav-tabs" id="myTab" role="tablist">

                <li class="nav-item">
                  <a   class="nav-link" (click)="selectAction(ACTIONS?.Task)" id="task-tab" data-toggle="tab" href="#call" role="tab" aria-controls="task" aria-selected="false">Task</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" (click)="selectAction(ACTIONS?.Meeting)" id="meeting-tab" data-toggle="tab" href="#call" role="tab" aria-controls="meeting" aria-selected="false">Meeting</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" (click)="selectAction(ACTIONS?.Call)" id="call-tab" data-toggle="tab" href="#call" role="tab" aria-controls="call" aria-selected="true">Call</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" (click)="selectAction(ACTIONS?.Comment)" id="comment-tab" data-toggle="tab" href="#call" role="tab" aria-controls="comment" aria-selected="false">Comment</a>
                </li>
              </ul>

              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show" id="call" role="tabpanel" aria-labelledby="call-tab" *ngIf="selectedAction!==undefined">
                  <div class="row">

                    <div class="col-12" *ngIf="selectedAction===ACTIONS?.Call || selectedAction===ACTIONS?.Meeting || selectedAction===ACTIONS?.Task ">
                      <div class="form-group">
                        <ejs-richtexteditor id='defaultRTE' [(value)]='value' [toolbarSettings]='tools' [quickToolbarSettings]='quickTools' [(ngModel)]="actionModel.Description"></ejs-richtexteditor>
                      </div>
                    </div>

                    <div class="col-12" data-toggle="tooltip" *ngIf="selectedAction===ACTIONS?.Call || selectedAction===ACTIONS?.Meeting || selectedAction===ACTIONS?.Task || selectedAction===ACTIONS?.Comment">
                      <div class="form-group">
                        <input type="hidden" id="_id" [(ngModel)]="actionModel._id" />
                        <ejs-tooltip id='tooltip' content={{actionModel.Subject}} target="#subject">
                          <input class="e-input" id="subject" required type="text" placeholder="Subject" [(ngModel)]="actionModel.Subject" />
                        </ejs-tooltip>
                      </div>
                    </div>

                    <div class="col-12 col-sm-6" *ngIf="selectedAction===ACTIONS?.Meeting">
                      <div class="form-group">
                        <input class="e-input" type="text" placeholder="Location" [(ngModel)]="actionModel.Location" />
                      </div>
                    </div>

                    <div class="col-12 col-sm-6" *ngIf="selectedAction===ACTIONS?.Call || selectedAction===ACTIONS?.Meeting || selectedAction===ACTIONS?.Task || selectedAction===ACTIONS?.Comment">
                      <div class="form-group">
                        <ejs-multiselect id='multiselectelement' [dataSource]='ResponsiblePersondata' [fields]='ResponsiblePersonfields' placeholder="Responsible Person" [(ngModel)]="actionModel.ResponsiblePerson"></ejs-multiselect>
                      </div>
                    </div>

                    <div class="col-12 col-sm-6" *ngIf="selectedAction===ACTIONS?.Call || selectedAction===ACTIONS?.Meeting || selectedAction===ACTIONS?.Task">
                      <div class="form-group">
                        <ejs-dropdownlist id='ddlelement' [dataSource]='priorities' [value]='value' [fields]='prioritiesfields' placeholder="Priority" [(ngModel)]="actionModel.Priority"></ejs-dropdownlist>
                      </div>
                    </div>

                    <div class="col-12 col-sm-6" *ngIf="selectedAction===ACTIONS?.Call">
                      <div class="form-group">
                        <ejs-dropdownlist id='ddlelement' [dataSource]='types' [value]='value' [fields]='typesfields' placeholder="Types" [(ngModel)]="actionModel.Types"></ejs-dropdownlist>
                      </div>
                    </div>

                    <div class="col-12 col-sm-6" *ngIf="selectedAction===ACTIONS?.Call || selectedAction===ACTIONS?.Meeting || selectedAction===ACTIONS?.Task">
                      <div class="form-group">
                        <ejs-datetimepicker [(ngModel)]="actionModel.EventStartDate" placeholder="Event Start Date" (ngModelChange)="SetEndDate(actionModel)"></ejs-datetimepicker>
                      </div>
                    </div>

                    <div class="col-12 col-sm-6" *ngIf="selectedAction===ACTIONS?.Call || selectedAction===ACTIONS?.Meeting || selectedAction===ACTIONS?.Task">
                      <div class="form-group">
                        <ejs-datetimepicker [(ngModel)]="actionModel.EventEndDate" placeholder="Event End Date"></ejs-datetimepicker>
                      </div>
                    </div>

                    <div class="col-12 col-sm-6" *ngIf="selectedAction!==ACTIONS?.Comment">
                      <div class="form-group">
                        <a href="javascript:void(0)" (click)="openReminderOption()"> +Add Reminder</a>
                      </div>
                    </div>

                    <div class="col-12 col-sm-6" *ngIf="actionModel.ShowReminder===true">
                      <div class="form-group">
                        <ejs-datetimepicker [(ngModel)]="actionModel.ReminderDate" placeholder="Reminder Date"></ejs-datetimepicker>
                      </div>
                    </div>

                    <div class="col-12 col-sm-6" *ngIf="actionModel.ShowReminder===true">
                      <div class="form-group">
                        <ejs-multiselect id='multiselectelement' [dataSource]='ResponsiblePersondata' [fields]='ResponsiblePersonfields' placeholder="Reminder Person" [(ngModel)]="actionModel.ReminderPerson"></ejs-multiselect>
                      </div>
                    </div>



                    <div class="col-12 col-sm-6" *ngIf="selectedAction===ACTIONS?.Call || selectedAction===ACTIONS?.Meeting || selectedAction===ACTIONS?.Task">
                      <div class="form-group">
                        <input type="radio" name="season" [value]="true" checked="checked" [(ngModel)]="actionModel.Completed">Completed
                        <input type="radio" name="season" [value]="false" [(ngModel)]="actionModel.Completed"> Not-Completed
                      </div>
                    </div>

                    <div class="col-12 col-sm-6" *ngIf="selectedAction===ACTIONS?.Call || selectedAction===ACTIONS?.Meeting || selectedAction===ACTIONS?.Task">
                      <div class="form-group">
                        <input type="radio" name="IsAllDay" [value]="true" checked="checked" [(ngModel)]="actionModel.IsAllDay">IsAllDay
                        <input type="radio" name="IsAllDay" [value]="false" [(ngModel)]="actionModel.IsAllDay"> TimeZone
                      </div>
                    </div>

                    <div class="col-12 col-sm-6" *ngIf="actionModel.IsAllDay===false">
                      <div class="form-group">
                        <input class="e-input" type="text" placeholder="StartTimeZone" [(ngModel)]="actionModel.StartTimeZone" />
                      </div>
                    </div>

                    <div class="col-12 col-sm-6" *ngIf="actionModel.IsAllDay===false">
                      <div class="form-group">
                        <input class="e-input" type="text" placeholder="EndTimeZone" [(ngModel)]="actionModel.EndTimeZone" />
                      </div>
                    </div>

                    <div class="col-12 col-sm-6" *ngIf="selectedAction===ACTIONS?.Call || selectedAction===ACTIONS?.Meeting  || selectedAction===ACTIONS?.Task">
                      <div class="form-group">
                        <ejs-dropdownlist id='ddlelement' [dataSource]='repeattaskoptions' [value]='value' [fields]='repeattaskoptionsfields' placeholder="Repeat Task" [(ngModel)]="actionModel.RepeatTask"></ejs-dropdownlist>
                      </div>
                    </div>



                    <div class="col-12 col-sm-6" *ngIf="selectedAction===ACTIONS?.Call && actionModel.RepeatTask !=='NEVER' || selectedAction===ACTIONS?.Meeting && actionModel.RepeatTask !=='NEVER' || selectedAction===ACTIONS?.Task && actionModel.RepeatTask !=='NEVER'">
                      <div class="form-group">
                        <ejs-numerictextbox placeholder="Repeat Interval" format='###.##' [(ngModel)]="actionModel.RepeatEvery"></ejs-numerictextbox>
                      </div>
                    </div>

                    <div class="col-12 col-sm-6" *ngIf="selectedAction===ACTIONS?.Call && actionModel.RepeatTask !=='NEVER' && actionModel.RepeatTask ==='WEEKLY' || selectedAction===ACTIONS?.Meeting && actionModel.RepeatTask !=='NEVER' && actionModel.RepeatTask ==='WEEKLY'   || selectedAction===ACTIONS?.Task  && actionModel.RepeatTask !=='NEVER' && actionModel.RepeatTask ==='WEEKLY'">
                      <div class="form-group">
                        <ejs-dropdownlist id='ddlelement' [dataSource]='repeatOnWeekDays' [value]='value' [fields]='repeatOnWeekfields' placeholder="Repeat On Week Day" [(ngModel)]="actionModel.RepeatOnWeekDay"></ejs-dropdownlist>
                      </div>
                    </div>


                    <div class="col-12 col-sm-6" *ngIf="selectedAction===ACTIONS?.Call && actionModel.RepeatTask !=='NEVER' && (actionModel.RepeatTask ==='MONTHLY'|| actionModel.RepeatTask ==='YEARLY')|| selectedAction===ACTIONS?.Meeting && actionModel.RepeatTask !=='NEVER' && (actionModel.RepeatTask ==='MONTHLY'|| actionModel.RepeatTask ==='YEARLY') || selectedAction===ACTIONS?.Task && actionModel.RepeatTask !=='NEVER' && (actionModel.RepeatTask ==='MONTHLY'|| actionModel.RepeatTask ==='YEARLY')">
                      <div class="form-group">
                        <ejs-numerictextbox placeholder="Repeat On Day" format='###.##' [(ngModel)]="actionModel.RepeatOnDay"></ejs-numerictextbox>
                      </div>
                    </div>

                    <div class="col-12 col-sm-6" *ngIf="selectedAction===ACTIONS?.Call && actionModel.RepeatTask !=='NEVER' && (actionModel.RepeatTask ==='MONTHLY'|| actionModel.RepeatTask ==='YEARLY') || selectedAction===ACTIONS?.Meeting && actionModel.RepeatTask !=='NEVER' && (actionModel.RepeatTask ==='MONTHLY'|| actionModel.RepeatTask ==='YEARLY') || selectedAction===ACTIONS?.Task && actionModel.RepeatTask !=='NEVER' && (actionModel.RepeatTask ==='MONTHLY'|| actionModel.RepeatTask ==='YEARLY')">
                      <div class="form-group">
                        <ejs-dropdownlist id='ddlelement' [dataSource]='willRepeats' [value]='value' [fields]='willRepeatsfields' placeholder="Will Repeat On" [(ngModel)]="actionModel.WillRepeat"></ejs-dropdownlist>
                      </div>
                    </div>

                    <div class="col-12 col-sm-6" *ngIf="selectedAction===ACTIONS?.Call && actionModel.RepeatTask !=='NEVER' && (actionModel.RepeatTask ==='MONTHLY'|| actionModel.RepeatTask ==='YEARLY') || selectedAction===ACTIONS?.Meeting && actionModel.RepeatTask !=='NEVER' && (actionModel.RepeatTask ==='MONTHLY'|| actionModel.RepeatTask ==='YEARLY')   || selectedAction===ACTIONS?.Task && actionModel.RepeatTask !=='NEVER' && (actionModel.RepeatTask ==='MONTHLY'|| actionModel.RepeatTask ==='YEARLY')">
                      <div class="form-group">
                        <ejs-dropdownlist id='ddlelement' [dataSource]='willRepeatOnWeekDays' [value]='value' [fields]='willRepeatOnWeekDaysfields' placeholder="Will Repeat On Week day" [(ngModel)]="actionModel.WillRepeatWeekDay"></ejs-dropdownlist>
                      </div>
                    </div>

                    <div class="col-12 col-sm-6" *ngIf="selectedAction===ACTIONS?.Call && actionModel.RepeatTask !=='NEVER' && actionModel.RepeatTask ==='YEARLY' || selectedAction===ACTIONS?.Meeting && actionModel.RepeatTask !=='NEVER' && actionModel.RepeatTask ==='YEARLY' || selectedAction===ACTIONS?.Task && actionModel.RepeatTask !=='NEVER' && actionModel.RepeatTask ==='YEARLY'">
                      <div class="form-group">
                        <ejs-dropdownlist id='ddlelement' [dataSource]='repeatonmonths' [value]='value' [fields]='repeatonmonthsfields' placeholder="Will Repeat On Month" [(ngModel)]="actionModel.RepeatOnMonth"></ejs-dropdownlist>
                      </div>
                    </div>

                    <div class="col-12 col-sm-6" *ngIf="selectedAction===ACTIONS?.Call  && actionModel.RepeatTask !=='NEVER'  || selectedAction===ACTIONS?.Meeting  && actionModel.RepeatTask !=='NEVER'  || selectedAction===ACTIONS?.Task  && actionModel.RepeatTask !=='NEVER' ">
                      <div class="form-group">
                        <ejs-numerictextbox placeholder="Interval" format='###.##' [(ngModel)]="actionModel.Interval"></ejs-numerictextbox>
                      </div>
                    </div>

                    <div class="col-12 col-sm-6" *ngIf="selectedAction===ACTIONS?.Call  && actionModel.RepeatTask !=='NEVER' || selectedAction===ACTIONS?.Meeting  && actionModel.RepeatTask !=='NEVER'  || selectedAction===ACTIONS?.Task  && actionModel.RepeatTask !=='NEVER' ">
                      <div class="form-group">
                        <ejs-datetimepicker [(ngModel)]="actionModel.RepeatAfter" placeholder="Repeat After"></ejs-datetimepicker>
                      </div>
                    </div>

                    <div class="col-12 col-sm-6" *ngIf="selectedAction===ACTIONS?.Call  && actionModel.RepeatTask !=='NEVER' || selectedAction===ACTIONS?.Meeting && actionModel.RepeatTask !=='NEVER'  || selectedAction===ACTIONS?.Task && actionModel.RepeatTask !=='NEVER'">
                      <div class="form-group">
                        <ejs-dropdownlist id='ddlelement' [dataSource]='untills' [value]='value' [fields]='untillsfields' placeholder="Untill" [(ngModel)]="actionModel.Untill"></ejs-dropdownlist>
                      </div>
                    </div>

                    <div class="col-12 col-sm-6" *ngIf="(selectedAction===ACTIONS?.Call && actionModel.RepeatTask !=='NEVER'  && actionModel.Untill === 2)  || (selectedAction===ACTIONS?.Meeting && actionModel.RepeatTask !=='NEVER' && actionModel.Untill === 2) || (selectedAction===ACTIONS?.Task && actionModel.RepeatTask !=='NEVER' && actionModel.Untill === 2)">
                      <div class="form-group">
                        <ejs-datetimepicker [(ngModel)]="actionModel.UntillDate" placeholder="Untill Date"></ejs-datetimepicker>
                      </div>
                    </div>

                    <div class="col-12 col-sm-6" *ngIf="(selectedAction===ACTIONS?.Call && actionModel.RepeatTask !=='NEVER' && actionModel.Untill === 3) || (selectedAction===ACTIONS?.Meeting && actionModel.RepeatTask !=='NEVER' && actionModel.Untill === 3)  || (selectedAction===ACTIONS?.Task && actionModel.RepeatTask !=='NEVER' && actionModel.Untill ===3)">
                      <div class="form-group">
                        <ejs-numerictextbox placeholder="Count" format='###.##' [(ngModel)]="actionModel.UntillCompile"></ejs-numerictextbox>
                      </div>
                    </div>

                    <div class="col-12 col-sm-6" *ngIf="selectedAction===ACTIONS?.Call && actionModel.RepeatTask !=='NEVER' || selectedAction===ACTIONS?.Meeting && actionModel.RepeatTask !=='NEVER' || selectedAction===ACTIONS?.Task && actionModel.RepeatTask !=='NEVER'">
                      <div class="form-group">
                        <ejs-datetimepicker [(ngModel)]="actionModel.RemindUsing" placeholder="Remind Using"></ejs-datetimepicker>
                      </div>
                    </div>

                    <div class="col-12 col-sm-6" *ngIf="selectedAction===ACTIONS?.Call && actionModel.RepeatTask !== 'NEVER' || selectedAction===ACTIONS?.Meeting && actionModel.RepeatTask !=='NEVER' || selectedAction===ACTIONS?.Task && actionModel.RepeatTask !=='NEVER'">
                      <div class="form-group">
                       <!-- <ejs-dropdownlist id='ddlelement' [dataSource]='reminds' [value]='value' [fields]='remindsfields' placeholder="Remind To" [(ngModel)]="actionModel.RemindTo"></ejs-dropdownlist>-->
                        <ejs-multiselect id='remindsmultiselectelement' [dataSource]='reminds' [fields]='remindsfields' placeholder="Remind To" [(ngModel)]="actionModel.RemindTo"></ejs-multiselect>
                      </div>
                    </div>


                    <div class="col-12 col-sm-6">
                      <div class="form-group">
                        <button (click)="Clear()" class="btn btn-sm btn-primary btn-block">Clear</button>
                      </div>
                    </div>

                    <div class="col-12 col-sm-6">
                      <div class="form-group">
                        <button (click)="AddCall(actionModel)" *ngIf="selectedAction===ACTIONS?.Call && ButtonEvent ==='Save'" class="btn btn-sm btn-primary btn-block">Add Call</button>
                        <button (click)="UpdateCall(actionModel)" *ngIf="selectedAction===ACTIONS?.Call && ButtonEvent ==='Update'" class="btn btn-sm btn-primary btn-block">Update Call</button>
                        <button (click)="AddMeeting(actionModel)" *ngIf="selectedAction===ACTIONS?.Meeting && ButtonEvent ==='Save'" class="btn btn-sm btn-primary btn-block">Add Meeting</button>
                        <button (click)="UpdateMeeting(actionModel)" *ngIf="selectedAction===ACTIONS?.Meeting && ButtonEvent ==='Update'" class="btn btn-sm btn-primary btn-block">Update Meeting</button>
                        <button (click)="AddTask(actionModel)" *ngIf="selectedAction===ACTIONS?.Task && ButtonEvent ==='Save'" class="btn btn-sm btn-primary btn-block">Add Task</button>
                        <button (click)="UpdateTask(actionModel)" *ngIf="selectedAction===ACTIONS?.Task && ButtonEvent ==='Update'" class="btn btn-sm btn-primary btn-block">Update Task</button>
                        <button (click)="AddComment(actionModel)" *ngIf="selectedAction===ACTIONS?.Comment && ButtonEvent ==='Save'" class="btn btn-sm btn-primary btn-block">Add Comment</button>
                        <button (click)="UpdateComment(actionModel)" *ngIf="selectedAction===ACTIONS?.Comment && ButtonEvent ==='Update'" class="btn btn-sm btn-primary btn-block">Update Comment</button>
                      </div>
                    </div>



                    <div class="col-12 col-sm-12" *ngIf="callVM?.createdDate">
                      <div class="form-group">
                        Created On : {{callVM?.createdDate | date : 'MMM d, y, h:mm:ss a'}}

                        <br />

                      </div>
                    </div>

                  </div>
                </div>

               
               
              </div>
              </div>
            </div>

            <!--<div class="report-list-table">
              <div class="row">
                <div class="col-12 text-center">

                  <div class="report-date"><h3><span>History</span></h3></div>
                  <div class="col-12 col-sm-12" *ngIf="historytabledata?.length">
                    <div class="form-group">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Action </th>
                            <th>Panel  </th>
                            <th>CreatedBy </th>
                            <th>CreatedDate </th>
                            <th>Button </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let dd of historytabledata">
                            <td>
                              <div>{{dd.Action}}</div>
                            </td>


                            <td>
                              <div>{{dd.Panel}}</div>
                            </td>


                            <td>
                              <div>{{dd.CreatedBy}}</div>
                            </td>
                            <td>
                              <div>{{dd.CreatedDate}}</div>
                            </td>
                            <td>
                              <div>{{dd.Button}}</div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>

                </div>
              </div>
        </div>-->

            <div class="row m-0">
              <div class="col-12">
                <ul class="timeline">

                  <ng-container *ngFor="let historydata of historytabledata;let i=index">
                    <li class="timeline-separator" *ngIf="historytabledata[i-1]?.Divide != historytabledata[i]?.Divide" title="{{historydata?.Divide}}"></li>
                    <li [ngClass]="[(i%2) === 0 ? '' : 'timeline-inverted']" *ngIf="i<limit">
                      <div class="timeline-badge primary">
                        <em [class]="historydata.Icon"></em>
                      </div>
                      <div [ngClass]="[historydata.Completed === false ? 'border-danger' : 'border-success']" class="timeline-card border">
                        <div [ngClass]="[(i%2) === 0 ? 'popover left' : 'popover right']">
                          <h4 class="popover-header">
                            {{historydata?.Action
                          }}
                          <div class="left">
                            <input type="checkbox" (click)="updateComplete(historydata,$event)" [checked]="historydata.Completed" style="float:right; height:22px; width:22px" />
                            <button (click)="EditAction(historydata.ActionId,historydata.Action,historydata._id)" class="fa fa-edit"></button>
                          </div>

                          </h4>
                          <div class="arrow"></div>
                          <div class="popover-body">
                            <p>
                              <br><small>User {{historydata?.Button}} a {{historydata?.Action}} with {{historydata?.Subject}}</small>
                            </p>
                            <p>Created On: {{historydata?.CreatedDate | date: 'MM-dd-yyy hh:mm:ss'}}</p>
                          </div>
</div>
                      </div>
                    </li>
                  </ng-container>

                  <li class="timeline-end" *ngIf="limit !== historytabledata.length"><a class="timeline-badge" (click)="showAll(historytabledata.length)"><em class="fa fa-plus"></em></a></li>
                  <li class="timeline-end" *ngIf="limit == historytabledata.length"><a class="timeline-badge" (click)="showAll(4)"><em class="fa fa-minus"></em></a></li>



                  <!--<li  class="timeline-inverted">
      <div  class="timeline-badge warning"><em  class="fa fa-phone"></em></div>
      <div  class="timeline-card">
        <div  class="popover right">
          <h4  class="popover-header">Call</h4>
          <div  class="arrow"></div>
          <div  class="popover-body">
            <p >
              Michael <a  href="tel:+011654524578">(+011) 6545 24578 ext. 132</a>
              <br ><small >Pellentesque ut diam velit, eget porttitor risus. Nullam posuere euismod volutpat.</small>
            </p>
          </div>
        </div>
      </div>
    </li>


  <li  class="timeline-separator" data-datetime="Yesterday"></li>
  <li >
    <div  class="timeline-badge danger"><em  class="fas fa-video"></em></div>
    <div  class="timeline-card">
      <div  class="popover left">
        <h4  class="popover-header">Conference</h4>
        <div  class="arrow"></div>
        <div  class="popover-body">
          <p >Join development group</p><small ><a  href="skype:echo123?call"><em  class="fa fa-phone mr-2"></em>Call the Skype Echo</a></small>
        </div>
      </div>
    </div>
  </li>
  <li  class="timeline-inverted">
    <div  class="timeline-card">
      <div  class="popover right">
        <h4  class="popover-header">Appointment</h4>
        <div  class="arrow"></div>
        <div  class="popover-body">
          <p >Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam.</p>
          <div  class="btn-group" dropdown="">
            <a  class="dropdown-toggle" dropdowntoggle="" href="#" aria-haspopup="true"><em  class="fa fa-paperclip"></em></a>

          </div>
        </div>
      </div>
    </div>
  </li>
  <li >
    <div  class="timeline-badge info"><em  class="fa fa-plane"></em></div>
    <div  class="timeline-card">
      <div  class="popover left">
        <h4  class="popover-header">Fly</h4>
        <div  class="arrow"></div>
        <div  class="popover-body">
          <p >Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
        </div>
      </div>
    </div>
  </li>
  <li >
    <div  class="timeline-card">
      <div  class="popover left">
        <h4  class="popover-header">Appointment</h4>
        <div  class="arrow"></div>
        <div  class="popover-body">
          <p >Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
        </div>
      </div>
    </div>
  </li>
  <li  class="timeline-separator" data-datetime="2014-05-21"></li>
  <li  class="timeline-inverted">
    <div  class="timeline-badge success"><em  class="fa fa-music"></em></div>
    <div  class="timeline-card">
      <div  class="popover right">
        <h4  class="popover-header">Relax</h4>
        <div  class="arrow"></div>
        <div  class="popover-body">
          <p >Listen some music</p>
        </div>
      </div>
    </div>
  </li>-->



                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
