<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Age</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let emp of empList">
      <td > <input type="text" class="form-control id" name="id" [(ngModel)]="emp._id" > </td>
     
     
      <td> <input type="text" class="form-control name" name="name" [(ngModel)]="emp.name"> </td>

      <td> <input type="text" class="form-control age" name="age" [(ngModel)]="emp.age"></td>
      <td>
        <button (click)="Update(emp)">Edit</button>
       <button (click)="Delete(emp._id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>

<div class="col-md-6 col-12">
  <div class="form-group">
    <label class="control-label required">Name<span class="error_mark text-danger"> *</span></label>
    <input type="text" class="form-control fullname" name="name" [(ngModel)]="emp.name">
  </div>
  <div class="form-group">
    <label class="required">Age</label>
    <input type="text" class="form-control email" name="email" [(ngModel)]="emp.age" />
  </div>
  
</div>

<button (click)="Add(emp)">Add Employee</button>
<router-outlet></router-outlet>
